<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort >

    <!-- Room Column -->
    <ng-container matColumnDef="room">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by rooms"> Room #</th>
      <td mat-cell *matCellDef="let element"> {{element.room}}  </td>
    </ng-container>

    <!-- Number Column -->
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by numbers"> Number of seats </th>
      <td mat-cell *matCellDef="let element"> {{element.number}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by prices"> Price per day </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} $ </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"
        (click)="openBookingDialog(row)"
    ></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
